:root {
    --white-gray: #ddd ;
    --white: #fff ;
    --color-text-main:hsl(231, 17%, 59%) ;
    --color-text: hsl(232, 30%, 79%);
    --color-text-1: hsl(32, 44%, 87%);
    --bg-form: hsl(231, 32%, 8%);
    --bg-form-btn:hsl(232, 19%, 23%);
    --bg-form-btn-hover:hsl(229, 30%, 15%);
    --bg-footer:hsl(231, 32%, 8%);
    --btn-border:hsl(232, 19%, 30%);
}

#scrollToTop {
    display: none; /* Скрываем кнопку, пока она не нужна */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: var(--bg-form-btn);
    color: var(--color-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}

#scrollToTop:hover {
    background-color: var(--bg-form-btn-hover);
    color: var(--color-text-1);
    opacity: 1;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два элемента в ряду */
    gap: 20px; /* Расстояние между элементами */
}

.product {
    border: 3px solid hsl(228, 30%, 16%);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: hsl(225, 30%, 13%);
}
/* Общее оформление */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(229, 32%, 10%);
    
}
.text, li label, li{
    text-align: center;
    color: var(--color-text);
}
h1, h2, form h3 {
    text-align: center;
    margin: 20px;
    font-weight: 600;
    color: var(--color-text-1);
}
.hsum{
    text-align: center;
    margin: 20px;
    font-weight: 600;
    color: var(--color-text-1);
}

/* Стиль для шапки */
header {
    background-color: hsl(231, 32%, 8%);
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Стиль для навигации */
nav {
    background-color: hsl(231, 32%, 8%);
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Главная секция */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

main h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

main p {
    color: var(--color-text-main);
    font-size: 18px;
}

/* Формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-form);
    border-radius: 10px;
    border:3px var(--btn-border) solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input {
    background-color: hsl(229, 32%, 10%);
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--white-gray);
    border-radius: 10px 0px 10px 0px;   
}

form button {
    width: 100%;
    margin: 10px 0;
    background-color: var(--bg-form-btn);
    border:1px var(--btn-border) solid;
    color: var(--color-text);
    cursor: pointer;
}

form button:hover {
    border: 1px var(--color-text) solid;
    background-color: var(--bg-form-btn-hover);
}

form input::placeholder {
    color: var(--color-text-main);
}

form input[type="text"], form input[type="email"], form input[type="password"]{
    font-size: 16px;
    border:1px var(--btn-border) solid;
    color: var(--color-text-1);
}
form input[type="number"] {
    width: 69%;
    font-size: 16px;
    border:1px var(--btn-border) solid;
    color: var(--color-text-1);
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form input[type="number"]:focus {
    border-color: var(--color-text);
    outline: none;
}

/* Стили для каталога товаров */
ul.products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.products li {
    background-color: var(--white);
    border: 1px solid var(--white-gray);
    padding: 15px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

ul.products li h3 {
    text-align: center;
    margin: 20px;
    font-weight: 600;
    color: var(--color-text-1);
}

ul.products li p {
    font-size: 14px;
    margin-bottom: 10px;
}

ul.products li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    background-color: #44c767;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul.products li a:hover {
    background-color: #5cbf2a;
}

/* Стиль для корзины */
ul.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

ul.cart-items li {
    display: flow;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px hsl(232, 19%, 23%) solid;
}

ul.cart-items li p {
    font-size: 16px;
    margin: 0;
}

ul.cart-items li .item-price {
    font-weight: bold;
}

ul.cart-items li .item-quantity {
    font-style: italic;
}

/* Кнопки и ссылки */
button, a {
    padding: 10px 15px;
    color: var(--color-text);
    background-color: hsl(232, 19%, 23%);
    text-decoration: none;
    border: 1px var(--btn-border) solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, a:hover {
    border: 1px var(--color-text) solid;
    background-color: hsl(229, 30%, 15%);
}

a {
    margin-top: 20px;
    display: inline-block;
}

/* Стиль для footer */
footer {
    background-color: var(--bg-footer);
    color: var(--color-text-1);
    padding: 15px;
    text-align: center;
    margin-top: 40px;
    position: static;
    bottom: 0;
    height: auto;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Стиль для страницы заказов */
ul.orders-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.orders-list li {
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--white-gray);
    margin-bottom: 10px;
    border-radius: 5px;
}

ul.orders-list li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #44c767;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul.orders-list li a:hover {
    background-color: #5cbf2a;
}

/* Стиль для страницы QR-кода */
.qr-code img {
    max-width: 200px;
    margin-top: 20px;
}
.yoomoney-payment-form .ym-payment-btn-block{
    margin-top: 15px !important;
    height: 52px !important;
    gap:109px !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox!important;
    display: flex !important;
}
.yoomoney-payment-form .ym-logo {
    margin-top: 10px !important;
    min-height: 30px !important;
    background-color: var(--bg-form-btn) !important;
    border: 1px var(--btn-border) solid !important;
    border-radius: 5px !important;
}
.yoomoney-payment-form .ym-logo:hover {background-color: var(--color-text-1) !important; border: 2px var(--color-text) solid !important;}
.yoomoney-payment-form .ym-payment-btn-block .ym-btn-pay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 32px;
    line-height: 32px;
    font-size: 20px !important;
    border: 1px var() solid !important;
    color: var(--color-text) !important;
    background: var(--bg-form-btn) !important;
    padding: 0 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    max-width: 190px;
    text-align: left;
    text-transform: capitalize;
}
.ym-text-crop{
    text-align: center !important;
}
.ym-btn-pay:hover {
    background-color: var(--bg-form-btn-hover) !important;
    color: var(--color-text-1) !important;
    border: 2px var(--color-text) solid !important;}

input.key-input {
    width: auto;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    border: 1px solid var(--btn-border);
    border-radius: 10px 0px 10px 0px;   
    background-color: hsl(229, 32%, 10%);
    color: var(--color-text-1);
    text-align: center;
}
fieldset{
    width: fit-content;
    border: 1px solid var(--btn-border);
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    background-color: var(--bg-form);
}
legend {
    color: var(--color-text);
    font-weight: bold;
    padding: 0 10px;
}
.key-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 24px;
    margin-top: 20px;
    align-items: end;
}

.copy-popup {
    position: fixed;
    left: 65%;
    top: 45%;
    transform: translate(-50%, 0);
    background: var(--bg-form-btn);
    color: var(--color-text-1);
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 1.1em;
    box-shadow: 0 2px 16px rgba(0,0,0,0.3);
    z-index: 9999;
    opacity: 0.97;
    display: none;
    transition: opacity 0.3s;
}
/* Лоадер */
.containe {
  position: absolute;
  inset: 0;
  zoom: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  animation: girar 8s linear infinite;
  position: relative;
}

.loader,
.sphere,
.item {
  width: 400px;
  height: 400px;
  position: absolute;
  transform-style: preserve-3d;
  perspective: 10000px;
}

.sphere,
.item {
  top: 0;
  left: 0;
}

.sphere {
  transform: rotate(calc(var(--rot) * 20deg));
}

.sphere1 { --bg: #f008; }
.sphere2 { --bg: #f0f8; }
.sphere3 { --bg: #ff08; }
.sphere4 { --bg: #0f08; }
.sphere5 { --bg: #0ff8; }
.sphere6 { --bg: #00f8; }
.sphere7 { --bg: #dc1ddf88; }
.sphere8 { --bg: #ffa50088; }
.sphere9 { --bg: #e5b2ca88; }

.item {
  border-radius: 50%;
  background: var(--bg);
  transform: rotateY(calc(var(--rot-y) * 40deg));
}

@keyframes girar {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


.loader-text {
    text-align: center;
    color: var(--color-text-1);
    font-size: 2.5em;
    margin-top: 20px;
}

